@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --red-primary: #E5383B;
  --dark-grey: #161A1D;
  --ligth-grey: #B1A7A6;
  --smoke: #D3D3D3;
  --white: #F5F3F4;
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px 40px;
  width: 100%;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
  color: var(--white);
}

.logo-web {
  color: var(--red-primary);
  font-weight: 800;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px 0 0;
  width: 100%;
  height: 100vh;
  background: var(--dark-grey);
  overflow-y: auto;
  clip-path: circle( 0 at top right);
  z-index: 90;
  transition: all linear 0.4s;
}

.show {
  clip-path: circle( 150% at bottom left);
}

.navbar-link {
  font-size: 7.2vw;
  color: var(--white);
}

.navbar-link:hover {
  color: var(--red-primary);
}

.active {
  color: var(--red-primary);
}

.follow-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 3vw;
  padding: 10px 0;
}

.socials-icons {
  color: var(--white);
}

.socials-icons:hover {
  color: var(--red-primary);
}

.btn-menu {
  cursor: pointer;
}

.btnmenu-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-menu > * {
  width: 60px;
  height: 6px;
  background-color: var(--smoke);
  margin: 9px 0;
  transition: 0.4s;
}

.menu-text {
  color: var(--smoke);
  font-size: 3rem;
}

.change > .bar1 {
  transform: translate(0, 19px) rotate(-45deg);
  background: var(--red-primary);
}

.change > .bar2 {
  opacity: 0;
}

.change > .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  background: var(--red-primary);
}

.slide-left:hover {
	-webkit-animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}


.hero {
  width: 100%;
  height: 100vh;
  background: #161A1D;
  display: flex;
  align-items: center;
}

.hero-video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%; 
  min-height: 100%;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-text-group {
  position: absolute;
  color: var(--white);
  z-index: 50;
  
}

.hero-span {
  color: var(--ligth-grey);
  font-size: 1.8vw;
  letter-spacing: 6px;
}

.hero-title {
  color: var(--white);
  font-size: 5vw;
}

.title-red {
  color: var(--red-primary);
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

.hero-button {
  padding: 60px 0 0 0;
  display: flex;
}

.hero-button > a {
  color: var(--white);
  padding: 20px 30px;
  border: 2px solid var(--white);
  border-radius: 50px;
  font-size: 1.5rem;
}

.hero-button > a:hover {
  color: var(--red-primary);
  border-color: var(--red-primary);
}

