:root {
  --black: #161A1D;
  --grey: #212529;
  --dark-red: #660708;
  --red: #A4161A;
  --light-red: #BA181B;
  --pink-red: #E5383B;
  --dark-smoke: #B1A7A6;
  --smoke: #D3D3D3;
  --light-smoke: #F5F3F4;
  --white: #ffffff;
}


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  color: var(--white);
  padding: 0 4vw;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-video > video {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-group {
  width: 100%;
  padding: 0 4vw;
  color: var(--white);
  border: 2px solid #BA181B;
}